/* Own stylesheet for SocNet */
#container {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  padding-left: 20px;
  background-color: #FFFFFF; /* white */
  font-color: #2A2929; /* dark grey */
  margin: 10px;
}
a:link{
  font-size: 120%;
  text-decoration: none;
 }
a:hover {
  color:#CD7F32;      /* light bronze */
}
h1 {
	color:#D69544;      /* bronze */
	font-size: 200%;
	margin: 20px;
	text-align: center;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 50%;
	width: 50%;
	vertical-align:middle;
}
form {
  border: 2px solid #D69544;      /* bronze */
  border-radius: 10px;
  overflow: hidden;
  font-size: 120%;
  margin: 5px;
}
label {
  font-size: 100%;
  padding: 5px;
  text-align: left;
  margin: 5px;
}
.inputs {
  font-size: 100%;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
  margin: 5px;
}
input[type="reset"], input[type="submit"] { 
    color:#343434; 
    font: bold 100% 'trebuchet ms',helvetica,sans-serif; 
    background-color:#F0F0F0; 
    border:1px solid; 
    border-color: black; 
} 
